body {
  background-color: wheat;
}

header, .account-container, .account-form, #display-msg {
  text-align: center;
}

header h1 {
  font-size: 40px;
}

.account-container, .account-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.account-container {
  width: 350px;
  height: 350px;
  background-color: cornflowerblue;
}

.account-form {
  width: 80%;
  height: 80%;
}

.account-form input {
  margin: 10px;
  height: 30px;
  width: 90%;
}

.account-form button {
  text-transform: uppercase;
  background-color: lightgreen;
  height: 30px;
}

.account-container p {
  background-color: beige;
}

#display-msg {
  width: 350px;
  margin: auto;
}

.error-msg {
  background-color: indianred;
}

.success-msg {
  background-color: lawngreen;
}

.hidden {
  display: none;
}

.loading-cursor {
  cursor: wait;
}

.link-disable {
  pointer-events: none;
}